= simple_form_for([:users, upload], html: {class: 'form-horizontal clearfix', novalidate: false}) do |f|
  = f.input :file
  = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'
